#walrus-showing {
  display: none;
}
#fade-in {
  display: none;
}

.clickable, .fact-click {
  color: blue;
  text-decoration: underline;
}

.clickable:hover, .fact-click:hover {
  color: green;
}


.green-bg {
  background-color: #37b23f;
}

.yellow-bg {
  background-color: #e5d997;
}

.red-bg {
  background-color: #b23817;
}
